<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<footer class="page-footer indigo darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Spring Boot Inicante</h5>
                <p class="grey-text text-lighten-4">Spring Boot e Materialize. Neste curso iremos criar um sistema 
                									de contas à pagar e receber, onde utilizaremos um método fácil 
                									e rápido de se aprender com o mais famoso framework para aplicações 
                									Java o Spring Boot e junto com ele usaremos todo o poder
                									do Materialize que é um framework front-end moderno e responsivo 
                									baseado em Material Design.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            GitHub <a class="orange-text text-lighten-3"
                      href="https://github.com/bcamoleze">brunocamoleze</a>
        </div>
    </div>
</footer>

</html>